@import "tailwindcss";

:root {
  --background: #DFA4DB;
  --foreground: #FF70BA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #DFA4DB;
    --foreground: #FF70BA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  

}
